<h1><strong>Recipe Organizer</strong><small> Add a Category</small></h1>

<form action='/category' method='post'>
    <label for='name'>Create a category</label>
    <input name='category_name' type='text' placeholder="Italian">
  <button type="submit" class="btn btn-success">Add category</button>
</form>

<ul>
  <% if @allcategories.any?() %>
  <% @allcategories.each() do |category| %>
  <li><a href="/categories/<%= category.id() %>"><%= category.name() %></a></li>
  <% end %>
  <% else %>
  <%= "No categories yet" %>
  <% end %>
</ul>
