.left {
  float: left;
}
.right {
  float: right;
}

#category {
  border: 2px solid #000000;
  border-radius: 20px;
}

#recipe {
  border: 2px solid #000000;
  border-radius: 20px;
}

#instructions {
  height: 200px;
  border: 2px solid #000000;
  border-radius: 20px;
}

#ingredients {
  border: 2px solid #000000;
  border-radius: 20px;
}

.btn:hover {
  font-family: Helvetica;
  color: #5cb85c;
  background-color: #FFFFFF;
}
